@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Upheaval TT (BRK)";
  src: url("/fonts/upheavaltt/UpheavalTT-BRK-.eot");
  src: url("/fonts/upheavaltt/UpheavalTT-BRK-.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/upheavaltt/UpheavalTT-BRK-.woff2") format("woff2"),
    url("/fonts/upheavaltt/UpheavalTT-BRK-.woff") format("woff"),
    url("/fonts/upheavaltt/UpheavalTT-BRK-.ttf") format("truetype"),
    url("/fonts/upheavaltt/UpheavalTT-BRK-.svg#UpheavalTT-BRK-") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply font-bit text-base p-2 bg-isaac-600 text-isaac-900;
}

.button {
  @apply relative flex-shrink-0 border-4 text-base font-semibold py-1 px-4 transition focus:outline-none focus:ring-2 focus:ring-isaac-800 focus:ring-offset-2 focus:ring-offset-purple-200;
}

.stories > section {
  @apply relative;
}


.button::before,
.button::before {
  content: "";
  @apply opacity-0 transition-opacity outline-none absolute -right-2 top-4 transform scale-20 rotate-160;
}

.stories > section::before,
.stories > section::before,
.stories > section > a::before,
.stories > section > a::before {
  content: "";
  @apply opacity-0 transition-opacity outline-none absolute -left-6 top-4 transform scale-30;
}

.stories > section:hover::before,
.stories > section:focus::before,
.stories > section > a:hover::before,
.stories > section > a:focus::before,
.button:focus::before,
.button:hover::before {
  @apply opacity-100;
  box-shadow: 25px 5px 0 0 theme('colors.isaac-900'), 30px 5px 0 0 theme('colors.isaac-900'),
    35px 5px 0 0 theme('colors.isaac-900'), 25px 10px 0 0 theme('colors.isaac-900'),
    30px 10px 0 0 theme('colors.isaac-900'), 35px 10px 0 0 theme('colors.isaac-900'),
    40px 10px 0 0 theme('colors.isaac-900'), 20px 15px 0 0 theme('colors.isaac-900'),
    25px 15px 0 0 theme('colors.isaac-900'), 30px 15px 0 0 theme('colors.isaac-900'),
    35px 15px 0 0 theme('colors.isaac-900'), 40px 15px 0 0 theme('colors.isaac-900'),
    45px 15px 0 0 theme('colors.isaac-900'), 50px 15px 0 0 theme('colors.isaac-900'),
    55px 15px 0 0 theme('colors.isaac-900'), 20px 20px 0 0 theme('colors.isaac-900'),
    25px 20px 0 0 theme('colors.isaac-900'), 30px 20px 0 0 theme('colors.isaac-900'),
    35px 20px 0 0 theme('colors.isaac-900'), 40px 20px 0 0 theme('colors.isaac-900'),
    45px 20px 0 0 theme('colors.isaac-900'), 50px 20px 0 0 theme('colors.isaac-900'),
    55px 20px 0 0 theme('colors.isaac-900'), 60px 20px 0 0 theme('colors.isaac-900'),
    65px 20px 0 0 theme('colors.isaac-900'), 70px 20px 0 0 theme('colors.isaac-900'),
    15px 25px 0 0 theme('colors.isaac-900'), 20px 25px 0 0 theme('colors.isaac-900'),
    25px 25px 0 0 theme('colors.isaac-900'), 30px 25px 0 0 theme('colors.isaac-900'),
    35px 25px 0 0 theme('colors.isaac-900'), 40px 25px 0 0 theme('colors.isaac-900'),
    45px 25px 0 0 theme('colors.isaac-900'), 50px 25px 0 0 theme('colors.isaac-900'),
    55px 25px 0 0 theme('colors.isaac-900'), 60px 25px 0 0 theme('colors.isaac-900'),
    65px 25px 0 0 theme('colors.isaac-900'), 70px 25px 0 0 theme('colors.isaac-900'),
    75px 25px 0 0 theme('colors.isaac-900'), 10px 30px 0 0 theme('colors.isaac-900'),
    15px 30px 0 0 theme('colors.isaac-900'), 20px 30px 0 0 theme('colors.isaac-900'),
    25px 30px 0 0 theme('colors.isaac-900'), 30px 30px 0 0 theme('colors.isaac-900'),
    35px 30px 0 0 theme('colors.isaac-900'), 40px 30px 0 0 theme('colors.isaac-900'),
    45px 30px 0 0 theme('colors.isaac-900'), 50px 30px 0 0 theme('colors.isaac-900'),
    55px 30px 0 0 theme('colors.isaac-900'), 60px 30px 0 0 theme('colors.isaac-900'),
    65px 30px 0 0 theme('colors.isaac-900'), 70px 30px 0 0 theme('colors.isaac-900'),
    75px 30px 0 0 theme('colors.isaac-900'), 10px 35px 0 0 theme('colors.isaac-900'),
    15px 35px 0 0 theme('colors.isaac-900'), 20px 35px 0 0 theme('colors.isaac-900'),
    25px 35px 0 0 theme('colors.isaac-900'), 30px 35px 0 0 theme('colors.isaac-900'),
    35px 35px 0 0 theme('colors.isaac-900'), 40px 35px 0 0 theme('colors.isaac-900'),
    45px 35px 0 0 theme('colors.isaac-900'), 50px 35px 0 0 theme('colors.isaac-900'),
    55px 35px 0 0 theme('colors.isaac-900'), 60px 35px 0 0 theme('colors.isaac-900'),
    65px 35px 0 0 theme('colors.isaac-900'), 70px 35px 0 0 theme('colors.isaac-900'),
    10px 40px 0 0 theme('colors.isaac-900'), 15px 40px 0 0 theme('colors.isaac-900'),
    20px 40px 0 0 theme('colors.isaac-900'), 25px 40px 0 0 theme('colors.isaac-900'),
    30px 40px 0 0 theme('colors.isaac-900'), 35px 40px 0 0 theme('colors.isaac-900'),
    40px 40px 0 0 theme('colors.isaac-900'), 45px 40px 0 0 theme('colors.isaac-900'),
    50px 40px 0 0 theme('colors.isaac-900'), 55px 40px 0 0 theme('colors.isaac-900'),
    60px 40px 0 0 theme('colors.isaac-900'), 5px 45px 0 0 theme('colors.isaac-900'),
    10px 45px 0 0 theme('colors.isaac-900'), 15px 45px 0 0 theme('colors.isaac-900'),
    20px 45px 0 0 theme('colors.isaac-900'), 25px 45px 0 0 theme('colors.isaac-900'),
    30px 45px 0 0 theme('colors.isaac-900'), 35px 45px 0 0 theme('colors.isaac-900'),
    40px 45px 0 0 theme('colors.isaac-900'), 5px 50px 0 0 theme('colors.isaac-900'),
    10px 50px 0 0 theme('colors.isaac-900'), 15px 50px 0 0 theme('colors.isaac-900'),
    20px 50px 0 0 theme('colors.isaac-900'), 25px 50px 0 0 theme('colors.isaac-900'),
    30px 50px 0 0 theme('colors.isaac-900');
  height: 5px;
  width: 5px;
}
